<%- include('../partials/header') %>

  <main class="register-success">
    <h1>Bienvenue sur BlablaBook !</h1>
    <p>Votre inscription a été validée avec succès.</p>
    <a href="/">Retour à l'accueil</a>
    <a href="/mon-compte">Aller sur mon compte</a>
  </main>

  <%- include('../partials/footer') %>