<%- include('../partials/header') %>

<section class="login-page">
  <h1>Déconnexion</h1>

  <p>Vous êtes déconnecté avec succès.</p>

  <a href="/connexion">Se connecter</a>
</section>
<%- include('../partials/footer') %>
