<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlablaBook</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <h1>BLABLABOOK</h1>
        <!--barre de recherche au centre du header -->
        <!--<form action="/search" method="GET">  -->

        <div class="nav-search">
            <form action="#" method="GET">
                <input type="text" name="query" placeholder="Rechercher un livre" aria-label="Champ de recherche">
                <button type="submit" aria-label="lancer la recherche">🔍</button>
            </form>
        </div>
        <!-- section bouton -->
        <div class="nav-buttons">
            <a href="/" class="nav-link" aria-label="Retour à la page d'accueil">Accueil</a>
            <a href="/" class="nav-link" aria-label="Explorer la bibliothèque numérique">Bibliothèque</a>
            <a href="/" class="nav-link" aria-label="Connectez-vous pour accéder à votre espace personnel">Connexion</a>
            <a href="/" class="nav-link" aria-label="Consultez votre profil utilisateur">Utilisateur</a>
        </div>

    </header>

    <!-- Section 1 -->
    <section class="book-section">
        <h2>📖 Lu</h2>
        <div class="book-grid">
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
        </div>
    </section>
    <!-- Section 2 -->
    <section class="book-section">
        <h2>📘 À lire</h2>
        <div class="book-grid">
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
            <div class="book">
                <img src="#" alt="Image Livre">
                <p>Description du livre...</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>&copy; 2025 Prototype réalisé par Heba Gloria Farida</p>
    </footer>
</body>

</html>