<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlablaBook - Accueil</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header class="header">
        <h1>BLABLABOOK</h1>
        <!--barrede recherche au centre du header -->
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Rechercher..." aria-label="Champ de recherche">
                <button aria-labe="lancer la recherche">&#128269;</button>
            </form>
        </div>
        <!-- section bouton -->
        <section class="button-bar">
            <button aria-label="Retour à la page d'accueil">Accueil</button>
            <button aria-label="Explorer la bibliothèque numérique">Bibliothèque</button>
            <button aria-label="Connectez-vous pour accéder à votre espace personnel">Connexion</button>
            <button aria-label="Consultez votre profil utilisateur">Utilisateur</button>
        </section>
        <main>
            <h2>Mes Informations</h2>
            <form>
                <label for="email">Mail</label>
                <input type="email" id="email" name="email" value="toto@mail.com" readonly>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" value="blabla" readonly>
            </form>
        </main>
        <footer class="footer">
            <p>&copy; 2025 Prototype réalisé par Heba Gloria Farida</p>
        </footer>
</body>

</html>