:root {
	--dark-blue: #16293d;
	--light-cream: #E3D9C0;
	--sand: #d5c09a;
	--sandy: #563F25;
	--whitish: #edebdc;
}
body {
	background-color: var(--light-cream);
	color: var(--dark-blue);
	font-family: Copperplate, Papyrus, fantasy;
}