:root {
	--dark-blue: #16293d;
	--light-cream: #e3d9c0;
	--sand: #d5c09a;
	--sandy: #c5a97c;
	--charcoal: #565450;
	--pale-gold: #d7c8a8;
	--caramel: #65450d;
	--whitish: #edebdc;
	--dark-sand: #50493b;
}
body {
	background-color: var(--light-cream);
	color: var(--dark-blue);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}