/*header*/
header{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.logo{
    width: 3rem;    
}
.search-form{
    position: relative;
    display: flex;
    align-items: center;
}
.search-form__text{
    background-color: var(--sand);
    border: none;
    border-radius: 10px;
    width: 400px;
    max-width: 700px;
    height: 50px;
}
.search-form__button{
    position: absolute;
    width: auto;
    height: auto;
    background: none;
    border: none;
    right: 0px;
    cursor: pointer;
    left: 340px;
    color: var(--sandy);
}
.loop-icon{
    width: 30px;
    height: 30px;
}
.nav-list{
    display: flex;
    gap: 1rem;
}
.nav-list__link{
    list-style: none;
    text-decoration: none;
    color: var(--whitish);
}
.nav-list__link:hover{
    color: var(--sand);
}

/*main*/
h1{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: xx-large;
}
h2{
    margin-left: 1rem;
}
.welcome-section__lead{
    text-align: center;
  margin: 2rem auto;
  max-width: auto;
  line-height: 1.6;
  font-size: 1.1rem;
}
.books-container{
    display: flex;
    justify-content:space-around;
    margin: 1rem 0;
}
.book-card {
  width: 180px; /* largeur fixe */
  flex-grow: 0; /* ne pas s’étirer */
  flex-shrink: 0;
  flex-basis: 180px;
}
.book-title{
    color: #565450;
}
.book-author{
    color: var(--sandy);
}

/*footer*/
footer{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    
}
.footer__menu{
    list-style-type: none;
}
.footer__menu-item{
    text-decoration: none;
    color: var(--whitish);
}
.footer__text{
    color: var(--whitish);
}