 
</main>
<footer>
            <div>
                <p>&copy; 2025 Prototype. Tous droits réservés.</p>
            </div>
            <div>
                <ul class="list-inline">
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Utilisations des cookies</a></li>
                    <li><a href="#">mentions légales </a></li>
                </ul>
            </div>
            <div>
                <p>Développé par Gloria Heba Farida</p>
            </div>
</footer>
</body>

</html>