 
</main>
<footer>
            <div class="footer__text">
                <p>&copy; 2025 Prototype. Tous droits réservés.</p>
            </div>
            <div>
                <ul class="footer__menu">
                    <li><a class="footer__menu-item" href="#">Politique de confidentialité</a></li>
                    <li><a class="footer__menu-item" href="#">Conditions d'utilisation</a></li>
                    <li><a class="footer__menu-item" href="#">Contact</a></li>
                    <li><a class="footer__menu-item" href="#">Politique de cookies</a></li>
                    <li><a class="footer__menu-item" href="#">Mentions légales</a></li>
                    <li><a class="footer__menu-item" href="#">Charte des données personnelles</a></li>
                    <li><a class="footer__menu-item" href="#">Plan du site</a></li>
                </ul>
            </div>
</footer>
</body>

</html>