<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlablaBook</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <h1>BLABLABOOK</h1>
        <!--barre de recherche au centre du header -->
        <!--<form action="/search" method="GET">  -->

        <div class="nav-search">
            <form action="#" method="GET">
                <input type="text" name="query" placeholder="Rechercher un livre" aria-label="Champ de recherche">
                <button type="submit" aria-label="lancer la recherche">🔍</button>
            </form>
        </div>
        <!-- section bouton -->
        <div class="nav-buttons">
            <a href="/" class="nav-link" aria-label="Retour à la page d'accueil">Accueil</a>
            <a href="/" class="nav-link" aria-label="Explorer la bibliothèque numérique">Bibliothèque</a>
            <a href="/" class="nav-link" aria-label="Connectez-vous pour accéder à votre espace personnel">Connexion</a>
            <a href="/" class="nav-link" aria-label="Consultez votre profil utilisateur">Utilisateur</a>
        </div>

    </header>
    <main class="login-form">
        <form>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Entrez votre nom">

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">

            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Entrez votre email">

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe">

            <label for="confirm-password">Confirmer le mot de passe</label>
            <input type="password" id="confirm-password" name="confirm-password"
                placeholder="Confirmez votre mot de passe">

            <div class="form-buttons">
                <button type="submit" class="btn">Se connecter</button>
                <button type="button" class="btn">Se déconnecter</button>
                <button type="button" class="btn danger">Supprimer mon compte</button>
            </div>
        </form>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Prototype réalisé par Heba Gloria Farida</p>
    </footer>
</body>

</html>