<%- include('partials/header') %>

<main class="user-info">
  <h2>Mes Informations</h2>
  <form>
    <label for="email">Mail</label>
    <input
      type="email"
      id="email"
      name="email"
      value="<%= user.email %>"
      readonly
    />

    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      name="password"
      value="********"
      readonly
    />

    <label for="confirm-password">Confirmer le mot de passe</label>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      value="********"
      readonly
    />
  </form>
  <!-- Delete Account Form -->
  <form
    action="/users/<%= user.id %>/delete"
    method="POST"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');"
  >
    <button type="submit" class="delete-button">Supprimer mon compte</button>
  </form>
</main>

<%- include('partials/footer') %>
